<%= simple_form_for([@insurance.client, @insurance]) do |f| %>

  <div class="col-md-10 col-md-push-3">
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="col-md-4">
          <p class="title"> Compañia: </p>
        </div>
        <div class="col-md-8">
          <%= f.input :company_id, collection: Company.order(:name), prompt: "Choose a Company", label: false, :input_html => {:maxlength => 50}, :error => false %>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="col-md-6">
        <div class="col-md-4">
          <p class="title"> Enlace: </p>
        </div>
        <div class="col-md-8">
          <%= f.input :link, as: :string, label: false, :error => false %>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="col-md-6">
        <div class="col-md-4">
          <p class="title"> Renovacion: </p>
        </div>
        <div class="col-md-8">
          <%= f.input :renovation, as: :boolean, label: false, :error => false %>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="col-md-6">
        <div class="col-md-4">
          <p class="title"> Pago: </p>
        </div>
        <div class="col-md-8">
          <%= f.input :payment, as: :boolean, label: false, :error => false %>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="col-md-6">
        <div class="col-md-4">
          <p class="title"> Fecha de Compra: </p>
        </div>
        <div class="col-md-8">
          <%= f.input :acquisition, as: :date, start_year: Date.today.year - 50, order: [:day, :month, :year], label: false, :input_html => {:maxlength => 50}, :error => false %>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="col-md-6">
        <div class="col-md-4">
          <p class="title"> Fecha de Expiracion: </p>
        </div>
        <div class="col-md-8">
          <%= f.input :due_date, as: :date, start_year: Date.today.year - 50, order: [:day, :month, :year], label: false, :input_html => {:maxlength => 50}, :error => false %>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="col-md-6">
        <div class="col-md-4">
          <p class="title"> Observaciones: </p>
        </div>
        <div class="col-md-8">
          <%= f.input :comments, as: :text, label: false, :error => false %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 pull-right">
    <div class="col-md-6 col-md-push-1">
      <%= f.button :submit, ( f.object.new_record? ? "Crear" : "Actualizar"), {class: 'btn btn-primary btn-block'} %>
    </div>
  </div>

<% end %>