<h1>Polizas</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Cliente</th>
      <th>Compañia</th>
      <th>Pago</th>
      <th id='pdf_link'>Enlace</th>
      <th>Fecha de Compra</th>
      <th>Fecha de Expiracion</th>
    </tr>
  </thead>
  <tbody>
    <% @insurances.each.with_index(1) do |insurance, index| %>
    <tr data-link="<%= client_insurance_path(insurance.client, insurance) %>" class="data-row">
      <th scope="row"> <%= index %> </th>
      <td> <%= insurance.client.fullname %> </td>
      <td><%= insurance.company.name %> </td>
      <td>
        <% if insurance.payment %>
          Completado
        <% else %>
          Pendiente
        <% end %>
      </td>
      <td id='pdf_link'>
        <% unless insurance.link.empty? %>
          <%= link_to "Ver Poliza", insurance.link, :target => '_blank' %>
        <% end %>
      </td>
      <td> <%= insurance.acquisition.strftime("%d-%m-%Y") %> </td>
      <td> <%= insurance.due_date.strftime("%d-%m-%Y") %> </td>
      <td id='pdf_link'> <%= link_to 'Editar', edit_client_insurance_path(insurance.client, insurance), :class => 'btn btn-success btn-sm' %> </td>
      <td id='pdf_link'> <%= link_to 'Eliminar', client_insurance_path(insurance.client, insurance), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-sm' %> </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id='pdf_link', class="col-md-9">
  <div class="col-md-5 col-md-push-6">
    <%= will_paginate @insurances, :next_label => 'Siguiente', :previous_label => 'Anterior', renderer: BootstrapPagination::Rails %>
  </div>
</div>

<% if @current_client %>
  <div id='pdf_link', class="col-md-12">
    <div class="col-md-6">
      <div class="col-md-6 col-md-push-2">
        <%= link_to 'Atras', client_path(@current_client), {class: 'btn btn-primary btn-block'} %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="col-md-6 col-md-push-2">
        <%= link_to 'Agregar Poliza', new_client_insurance_path, {class: 'btn btn-primary btn-block'} %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="col-md-3 col-md-push-4">
        <%= link_to 'Generar PDF', client_insurances_path(@current_client, :format => "pdf"), {class: 'btn btn-primary btn-block'} %>
      </div>
    </div>
  </div>
<% else %>
  <div id='pdf_link', class="col-md-12">
    <div class="col-md-6">
      <div class="col-md-6 col-md-push-2">
        <%= link_to 'Atras', root_path, {class: 'btn btn-primary btn-block'} %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="col-md-6 col-md-push-2">
        <%= link_to 'Generar PDF', insurances_path(:date => {:month => params[:date][:month]}, :year => params[:date][:year], :format => "pdf"), {class: 'btn btn-primary btn-block'} %>
      </div>
    </div>
  </div>
<% end %>