<div class="col-md-9 col-md-push-4">
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="col-md-5">
        <p class="title"> Compañia: </p>
      </div>
      <div class="col-md-7">
        <p class=""> <%= @insurance.company.name %> </p>
      </div>
    </div>
  </div>

   <div class="col-md-12">
    <div class="col-md-6">
      <div class="col-md-5">
        <p class="title"> Enlace: </p>
      </div>
      <div class="col-md-7">
        <p class=""> <%= @insurance.link %> </p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-6">
      <div class="col-md-5">
        <p class="title"> Status: </p>
      </div>
      <div class="col-md-7">
        <p class="">
          <% if @insurance.renovation %>
            Anulada
          <% elsif @insurance.payment %>
            Completada
          <% else %>
            Pendiente
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-6">
      <div class="col-md-5">
        <p class="title"> Fecha de Compra: </p>
      </div>
      <div class="col-md-7">
        <p class=""> <%= @insurance.acquisition.strftime("%d-%m-%Y") %> </p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-6">
      <div class="col-md-5">
        <p class="title"> Fecha de Expiracion: </p>
      </div>
      <div class="col-md-7">
        <p class=""> <%= @insurance.due_date.strftime("%d-%m-%Y") %> </p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-6">
      <div class="col-md-5">
        <p class="title"> Observaciones: </p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-7">
      <div class="col-md-12">
        <p class=""> <%= @insurance.comments %> </p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-7">
  <div class="col-md-7 col-md-push-7">
    <%= link_to 'Atras', client_insurances_path(@insurance.client), {class: 'btn btn-primary btn-block'} %>
  </div>
</div>